* {margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: tahoma;
}
/* Beginning of Header */
header {
  background-color: rgba(128,128,128, 0.9);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header>img {
  padding-left: 50px;
  padding-bottom: 20px;
  height: 5rem;
}
header h1 {
  color:  white;
  padding: 6px 12px;
  padding-right: 45%;
  text-decoration: underline;
}
/* End of Header */

/* Beginning of Container */
.container {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
div.container>img {
  max-width: 100%;
}
div.container>p {
  background: rgba(128,128,128, 0.9);
  color: white;
  padding: 30px;
  font-size: 60px;
  position: absolute;
  top: 40%;
  margin-left: 32%;
}
/* End of Container */
nav {
  background: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 100px;
  z-index: 1;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: #4b4b4b;
}
nav li a:hover {
  text-decoration: underline;
}
nav li a.join {
  color: #f63232;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2 {
  color: #f63232;
  font-size: 48px;
}
article p {
  line-height: 2em;
  color: #4b4b4b;
}
article p::first-line {
  font-weight: bold;
  font-size: 1.2em;
}
/* Beginning of Video container */
main div.video {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
div.video ul {
  display: flex;
  flex-direction: row;
}
div.video ul div li {
  list-style: none;
}
video#v1 {
  width: 90%;
}
video#v2 {
  width: 90%;
}
div.video ul div p {
  margin-top: 5px;
}
section.join {
  background: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}
section.join h2 {
  font-size: 36px;
}
/* form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}
form input:focus {
  border: 4px dashed #4b4b4b;
  outline: none;
}
form input:valid {
  border: 4px solid #71d300;
} */

div.form {
    width: 430px;
    height: 550px;
    background-color: rgb(255, 168, 62);
    text-align: center;
    padding: 30px;
    justify-content: center;
}
img.form-image {
    width: 250px;
    height: 250px;
    border-radius: 150px;
}
input.form-input {
    width: 95%;
    height: 50px;
    margin-top: 30px;
    padding: 0 15px 0 15px;
    color: rgb(255, 0, 0);
    font-size: 19px;
}
button.form-button {
    /* width: 51%;
    height: 50px; */
    background-color: rgb(3, 31, 62);
    color: rgb(255, 0, 0);
    /* border: 0px; */
    /* margin-top: 30px;
    margin-left: 10px; */
    /* font-size: 19px;
    font-style: bold; */
}

button.form-button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ec2f4b, #009f);
}
p#demo {
    margin-top: 30px;
    font-size: large;
    margin-left: 5px;
}
div.float {
    display: flex;
    flex-direction: row;
}
p#reminder {
    margin-top: 50px;
    margin-left: 20px;
    text-decoration: underline;
}
p#reminder:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}
footer {
  background: #f63232;
  color: white;
  padding: 10px;
  text-align: center;
}
footer p span {
  font-weight: bold;
}


@media screen and (max-width: 1400px) {
  .banner .welcome {
    font-size: 40px;
  }
}

 @media screen and (max-width: 960px) {
  .banner .welcome {
    font-size: 28px;
  }
  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .banner .welcome {
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  nav li {
    font-size: 18px;
  }
  .images li {
    width: 100%;
    display: block;
    margin: 20px auto;
  }


@media screen and (max-width: 560px) {
  .banner .welcome {
    font-size: 20px;
    position: relative;
    text-align: center;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  nav li {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  article h2 {
    font-size: 36px;
  }
  header,
  nav {
    position: relative;
    top: 0;
  }
}