@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Section 1 Beginning of Navigation Bar */
nav {
  display: flex;
  line-height: 80px;
  background: #042a63;
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.navbar-brand {
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding: 0 500px 0 50px;
}
nav div label .nav-link {
  font-family: 'Great Vibes', cursive;

}
nav div ul.navbar {
  margin-top: -15px;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}
a.nav-link {
  color: white;
  font-family: 'Uchen', serif;
}
a#hover.active,
 a#hover:hover {
  color: lightgreen;
}

/* Section 1 End of Navigation Bar */

/* Beginning of Section 2 */
.link-contact {
  margin-top: 5.25%;
  position: absolute;
  width: 100%;
}
 .guide {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   width: 1600px;
   margin-left: -15px;
 }
 .button img {
   width: 1600px;
   height: 647px;
   margin-left: -15px;
 }
 .btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   position: absolute;
   margin-top: -500px;
   margin-left: 700px;
   background-color: black;
 }
 .btn a {
   text-decoration: none;
 }
 .btn a:hover {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

/* .form-container {
  margin: 80px;
  margin-left: 350px;
  position: absolute;
}
div.flex div img {
  border: 3px solid black;
  padding: 5px;
}
ul#two {
  margin-left: 100px;
}
ul li input {
  width: 350px;
  /* margin: 20px 0 12px 0; */
}
ul li textarea {
  width: 800px;
}
div.flex {
  display: flex;
  margin-top: 10px;
}
div.welcome-note {
  padding-left: 40px;
}
ul li {
  list-style: none;
}
.fab {
  color: black;
} */
/* End of section 2 */
