@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');  
  
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Section 1 Beginning of Navigation Bar */
nav {
  display: flex;
  line-height: 80px;
  background: #042a63;
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.navbar-brand {
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding: 0 500px 0 50px;
}
nav div label .nav-link {
  font-family: 'Great Vibes', cursive;

}
nav div ul.navbar {
  margin-top: -15px;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}
a.nav-link {
  color: white;
  font-family: 'Uchen', serif;
}
a#hover.active,
 a#hover:hover {
  color: lightgreen;
} 
.d-flex {
  margin-top: 20px;
}
form.d-flex input {
  margin-right: 2px;
}

/* Section 1 End of Navigation Bar */

/* Beginning of Section 2 */

#home {
  padding-top: 100px;
  background: url("./Images/whoareyou.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 800px;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}
.container-fluid {
  text-align: center;
}
.hero {
  color: #5f0700;
} 
h1 {
  text-shadow: 1px -1px 8px black;
  color: white;
  font-size: 450%;
  font-family: 'Cinzel', serif;
}
.welcome-note {
  margin-top: 10%;
}
div.inspire {
  background-color: white;
  margin: 0 350px;  
}
.bottom {
  margin-top: 10px;
  padding-top: 200px;
}
h3 span#one {
  color: chartreuse;
}
h3 span#two {
  color: #000;
}
h3 span#three {
  color: #042a63;
}
div.rights p span {
  font-weight: bold;
}

/* End of Section 2 */

hr.page {
  width: 80%;
  align-items: center;
  margin: 0 80px 40px 150px;
  height: 1rem;
  background-color: #000;
}

/* Beginning of Section 3 */

#about {
  padding-top: 100px;
  background: url("./Images/home.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 840px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.biography {
  display: flex;
  background: rgba(0, 0, 128, 0.5);
}
div img#portrait {
  margin: 20px;
  border-radius: 25%;
  height: 500px;
  width: 450px;
}
div.biography div.b-p {
  color: white;
  text-align: left;
  margin-top: 20px;
  font-size: 17px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bold;
}
div.biography div.b-p div.slice {
  border: 2px solid white;
  width: 97%;
  background-color: white;
  margin: 5px;
}
div.biography div.b-p p a {
  color: chartreuse;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.biography div.b-p p em#p-1 {
  color: #5f0700;
  background: rgba(255, 255, 0, 0.6);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* End of Section 3 */

/* Beginning of Section 4 */
#portfolio {
  padding-top: 100px;
  background: url("./Images/mypointofview.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 840px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}
/* body {
  flex-wrap: wrap;
} */
img#hover.card-img-top{
    height: 228px;
    width: 285px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.box {
    position: relative;
    height: 228px;
    width: 285px;
    display: inline-block;
    overflow: hidden;
}
img.card-img-top {
    transition: all linear 2s;
}
.box:hover img.card-img-top {
    opacity: 0;
}
.box:hover img#hover.card-img-top {
    opacity: 1;
}
.projects {
  display: flex;
}
div#one.card {
  margin-right: 50px;
  margin-left: 60px;
}
div#two.card {
  margin-right: 50px;
}
div#three.card {
  margin-right: 50px;
}
image.card-img-top {
  border: 5px solid red;
}
h5.card-title {
  color: #042a63;
  
}
/* End of Section 4 */

/* Beginning of Section 5 */
#contact {
  background: url("./Images/thereyouhaveit.jpg") no-repeat center center;
  background-size: cover;
  background-color: #b0aba8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 40px;
  float: none;
  border-radius: 30px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #fff;
}
.btn {
  text-align: center;
  display: inline;
}

.blue {
  background-color: #3498db;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #82bf56;
}
.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}
div#email-number {
  background: rgba(0, 0, 128, 0.5);
  margin: 0;
  padding: 0;
  color: white;
}
ul  li {
  list-style: none;
}
div#email-number div h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
div#email-number div p span {
  font-weight: bold;
}

/* End of Section 5 */
