@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Playfair+Display+SC:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Section 1 Beginning of Navigation Bar */

nav {
  background: #042a63;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 1;
  position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  list-style: none;
  margin: 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 3px 13px;
  border-radius: 3px;
  /* top: 0; */
}
nav ul li a {
  color: white;
  
}
a.active,
a:hover {
  color: lightgreen;
  transition: 0.5s;
}

/* Section 1 End of Navigation Bar */

/* Section 2 Beginning of Home Page */

#home {
  padding-top: 100px;
  background: url("./Images/whoareyou.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}
.container-fluid {
  text-align: center;
}
.hero {
  color: #5f0700;
}
hr.page {
  width: 80%;
  align-items: center;
  margin: 0 80px 40px 150px;
  /* margin: 0 150px; */
  height: 1rem;
  background-color: #000;
}
h1 {
  text-shadow: 1px -1px 8px black;
  color: white;
  font-size: 450%;
  margin-top: 13%;
  font-family: 'Playfair Display SC', serif;
}
h3 span#one {
  color: chartreuse;
}
h3 span#two {
  color: #000;
}
h3 span#three {
  color: #042a63;
}
div.inspire {
  background-color: rgba(0, 0, 128, 0.5);
  margin: 0 450px;
  
}
/* Section 2 End of Home Page */

/* Beginning of Section 3 */

#about {
  padding-top: 100px;
  background: url("./Images/home.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 840px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#portrait {
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25%;
  height: 500px;
  width: 450px;
  float: left;
} 
p {
  color: white;
} 

.b-p {
  background: rgba(0, 0, 128, 0.5);
  padding: 2rem;
  margin: 20px;
  font-size: x-large;
  text-align: left;
}
div.biography > div.b-p > p > a {
  color: chartreuse;
  text-decoration: underline;
}

div.b-p>p>em#p-1 {
  color: rgba(0, 0, 128, 0.5);
  background: rgba(255, 255, 0, 0.6);
  padding-left: 1rem;
  padding-right: 1rem;
}
div#about.container-header h2.hero {
  margin-top: 5px;
  padding-top: 5px;
  top: 10px;
}
/* End of Section 3 */

/* Beginning of Section 4 */
#portfolio {
  padding-top: 100px;
  background: url("./Images/mypointofview.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #b0aba8;
  min-height: 840px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}
#portfolio-items {
  margin-top: 50px;
}
/* End of Section 4 */

/* Beginning of Section 5 */
#contact {
  padding-top: 90px;
  background: url("./Images/thereyouhaveit.jpg") no-repeat center center;
  background-size: cover;
  background-color: #b0aba8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 40px;
  float: none;
  border-radius: 30px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #fff;
}
.btn {
  text-align: center;
  display: inline;
}

.blue {
  background-color: #3498db;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #82bf56;
}
.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}
div#contact.container > div#header.container-fluid > div#email-number > p {
  color: #000;
  /* margin-top: 2px; */
}
div#contact.container div#header.container-fluid div#email-number {
  color: #000;
  margin-top: 250px;
  background: rgba(0, 0, 128, 0.3);
  /* padding-bottom: 20px; */
  padding-top: 5px;
}
div#header.container-fluid div#email-number p span {
  font-weight: bold;
}
/* Beginning of Contact Form */
div#contact-form.container {
  max-width: 510px;
  min-width: 700px;
  margin: 50px auto 0px;
  background-color: rgba(0, 0, 128, 0.3);
  position: relative;
  /* align-items: center; */
}
ul#contact-form {
  list-style: none;
}
div#contact-form.container>ul>hr.form-slice {
  margin: 1rem 0 1rem 0;
}
/* end of Contact Form */

/* End of Section 5 */
