@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Section 1 Beginning of Navigation Bar_Two */

nav {
  background: #042a63;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 1;
  position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  list-style: none;
  margin: 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 3px 13px;
  border-radius: 3px;
  /* top: 0; */
}
nav ul li a {
  color: white;
  
}
a.active,
a:hover {
  color: lightgreen;
  transition: 0.5s;
}

/* Section 1 End of Navigation Bar_Two */

/* Beginning of Section 2 Contact Information  */
div#form.container {
  padding-top: 90px;
  background: url("../Images/thereyouhaveit.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: large;
}
div#contact-form.container {
  display: flex;
  align-items: center;
  justify-content: center;
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div#form.container h2.greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display SC', serif;
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div#contact-form.container ul#contact-form li#class-input input {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  padding: 0 15px 0 15px;
  color: dimgrey;
  font-size: 14px;
  font-size: 19px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div#contact-form.container ul#contact-form li textarea {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  padding: 0 15px 0 15px;
  color: dimgrey;
  font-size: 14px;
  font-size: 19px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div#contact-form.container ul#contact-form li input.btn {
    width:50%;
    height: 50px;
    background-color: rgb(3, 31, 62);
    color: rgb(255, 0, 0);
    border: 0px;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 19px;
    font-style: bold;
    border-radius: 30px;
      background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div#contact-form.container ul#contact-form li input.btn-submit:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ec2f4b, #009f);
}
ul#contact-form li {
    list-style: none;
}
/* a.active, */
/* a:hover  */
/* End of Section 2 Contact Informatio  */

/* Beginning of Footer section */
div#email-number.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(3, 31, 62);
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} 
div#email-number.container h2 {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 2px;
  
}
div#email-number.container ul li {
  color: white;
  list-style: none;
}
div#email-number.container p {
  color: white;
}
div#email-number.container p#two {
  margin-bottom: 10px;
}
div#email-number.container h3 {
  color: rgb(255, 0, 0);
  /* margin: 1px 0px; */
  padding: 1.5px 0px;
}
div#email-number.container p#two span {
  font-weight: bold
}
/* End of Footer Section */
